* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
	padding: 0;
	margin: 0;
}

ul,
ol,
li {
	list-style: none;
}

input,
button {
	border: 0px;
	&:focus {
		outline: none;
		box-shadow: none;
	}
}

a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
button {
	display: inline-block;
	background-color: transparent;
}
img {
	max-width: 100%;
}

body {
    background: #fff;
	font-weight: 400;
	font-family: $f-primary;
	color: #000;
}
#wrapper {
	width: 100%;
	position: relative;
}

@font-face {
    font-family: 'FuturaBT-Book';
    src: url('../fonts/FuturaBT-Book.eot');
    src: url('../fonts/FuturaBT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaBT-Book.woff2') format('woff2'),
        url('../fonts/FuturaBT-Book.woff') format('woff'),
        url('../fonts/FuturaBT-Book.ttf') format('truetype'),
        url('../fonts/FuturaBT-Book.svg#FuturaBT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura.eot');
    src: url('../fonts/Futura.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura.woff2') format('woff2'),
        url('../fonts/Futura.woff') format('woff'),
        url('../fonts/Futura.ttf') format('truetype'),
        url('../fonts/Futura.svg#Futura') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura-Bold';
    src: url('../fonts/Futura-Bold.eot');
    src: url('../fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura-Bold.woff2') format('woff2'),
        url('../fonts/Futura-Bold.woff') format('woff'),
        url('../fonts/Futura-Bold.ttf') format('truetype'),
        url('../fonts/Futura-Bold.svg#Futura-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaCondMedium.eot');
    src: url('../fonts/FuturaCondMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaCondMedium.woff2') format('woff2'),
        url('../fonts/FuturaCondMedium.woff') format('woff'),
        url('../fonts/FuturaCondMedium.ttf') format('truetype'),
        url('../fonts/FuturaCondMedium.svg#FuturaCondMedium') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura-Black';
    src: url('../fonts/FuturaBlack.eot');
    src: url('../fonts/FuturaBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaBlack.woff2') format('woff2'),
        url('../fonts/FuturaBlack.woff') format('woff'),
        url('../fonts/FuturaBlack.ttf') format('truetype'),
        url('../fonts/FuturaBlack.svg#FuturaBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}



