* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

input,
button {
  border: 0px;
}
input:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  display: inline-block;
  background-color: transparent;
}

img {
  max-width: 100%;
}

body {
  background: #fff;
  font-weight: 400;
  font-family: "Futura", sans-serif;
  color: #000;
}

#wrapper {
  width: 100%;
  position: relative;
}

@font-face {
  font-family: "FuturaBT-Book";
  src: url("../fonts/FuturaBT-Book.eot");
  src: url("../fonts/FuturaBT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaBT-Book.woff2") format("woff2"), url("../fonts/FuturaBT-Book.woff") format("woff"), url("../fonts/FuturaBT-Book.ttf") format("truetype"), url("../fonts/FuturaBT-Book.svg#FuturaBT-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura.eot");
  src: url("../fonts/Futura.eot?#iefix") format("embedded-opentype"), url("../fonts/Futura.woff2") format("woff2"), url("../fonts/Futura.woff") format("woff"), url("../fonts/Futura.ttf") format("truetype"), url("../fonts/Futura.svg#Futura") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura-Bold";
  src: url("../fonts/Futura-Bold.eot");
  src: url("../fonts/Futura-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Futura-Bold.woff2") format("woff2"), url("../fonts/Futura-Bold.woff") format("woff"), url("../fonts/Futura-Bold.ttf") format("truetype"), url("../fonts/Futura-Bold.svg#Futura-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaCondMedium.eot");
  src: url("../fonts/FuturaCondMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaCondMedium.woff2") format("woff2"), url("../fonts/FuturaCondMedium.woff") format("woff"), url("../fonts/FuturaCondMedium.ttf") format("truetype"), url("../fonts/FuturaCondMedium.svg#FuturaCondMedium") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura-Black";
  src: url("../fonts/FuturaBlack.eot");
  src: url("../fonts/FuturaBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaBlack.woff2") format("woff2"), url("../fonts/FuturaBlack.woff") format("woff"), url("../fonts/FuturaBlack.ttf") format("truetype"), url("../fonts/FuturaBlack.svg#FuturaBlack") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.top-area {
  background: url(../images/bg01.png) no-repeat top center;
  padding: 15px 8rem 18rem;
  background-size: 100%;
}
@media (max-width: 1850px) {
  .top-area {
    padding: 15px 8rem 15rem;
  }
}
@media (max-width: 1800px) {
  .top-area {
    padding: 15px 4rem 12rem;
  }
}
@media (max-width: 1600px) {
  .top-area {
    padding: 15px 4rem 9rem;
  }
}
@media (max-width: 1400px) {
  .top-area {
    padding: 15px 2rem 10rem;
  }
}
@media (max-width: 1200px) {
  .top-area {
    background-size: cover;
  }
}
@media (max-width: 992px) {
  .top-area {
    background: url(../images/bg01.png) no-repeat left center;
    background-size: cover;
  }
}
@media (max-width: 767px) {
  .top-area {
    padding: 0 15px 8rem;
    background: url(../images/bg01.png) no-repeat left center;
    background-size: cover;
  }
}
.top-area .banner-text {
  padding: 8rem 0 0;
}
@media (max-width: 1500px) {
  .top-area .banner-text {
    padding: 3rem 0 0;
  }
}
@media (max-width: 1150px) {
  .top-area .banner-text {
    padding: 1rem 0 0;
  }
}
.top-area .banner-text h3 {
  font-size: 20px;
  line-height: 22px;
  color: #ff007a;
  font-family: "FuturaBT-Book";
  margin: 0 0 15px;
}
.top-area .banner-text h1 {
  font-size: 70px;
  line-height: 85px;
  color: #1b1464;
  margin: 0 0 20px;
  font-weight: 600;
}
@media (max-width: 1700px) {
  .top-area .banner-text h1 {
    font-size: 50px;
    line-height: 65px;
  }
}
@media (max-width: 1400px) {
  .top-area .banner-text h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 1150px) {
  .top-area .banner-text h1 {
    font-size: 35px;
    line-height: 40px;
  }
}
.top-area .banner-text p {
  font-size: 20px;
  line-height: 35px;
  color: #1b1464;
  margin: 0 0 20px;
  font-family: "FuturaBT-Book";
}
@media (max-width: 1400px) {
  .top-area .banner-text p {
    font-size: 18px;
    line-height: 30px;
  }
}
.top-area .banner-text .form-block {
  padding: 0 3rem 0 0;
}
@media (max-width: 992px) {
  .top-area .banner-text .form-block {
    padding: 0;
  }
}
@media (max-width: 575px) {
  .top-area .banner-text .form-block {
    padding: 0;
  }
}
@media (max-width: 575px) {
  .top-area .banner-text .form-block .input-group {
    justify-content: center;
  }
}
.top-area .banner-text .form-block .input-group .form-select {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1450980392);
  margin: 0 15px 0 0;
  padding: 20px 25px;
  border-radius: 50px 50px;
  font-size: 18px;
  line-height: 20px;
  color: #1b1464;
  background-position: right 1.5rem center;
}
@media (max-width: 575px) {
  .top-area .banner-text .form-block .input-group .form-select {
    width: 100%;
    margin: 0 0 10px;
  }
}
.top-area .banner-text .form-block .input-group .s-btn {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  border: 2px solid #ff007a;
  padding: 12px 30px;
  border-radius: 50px !important;
  text-transform: uppercase;
  background: #ff007a;
}

#main .f-area {
  padding: 0 8rem;
  margin: -5rem 0 0;
}
@media (max-width: 1800px) {
  #main .f-area {
    padding: 0 4rem;
  }
}
@media (max-width: 1400px) {
  #main .f-area {
    padding: 0 2rem;
  }
}
@media (max-width: 767px) {
  #main .f-area {
    padding: 0 15px;
  }
}
#main .f-area .w-block {
  padding: 20px 25px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1450980392);
  border-radius: 50px 50px;
  margin: 0 0 30px;
}
@media (max-width: 575px) {
  #main .f-area .w-block {
    padding: 10px 15px;
    border-radius: 25px 25px;
  }
}
@media (max-width: 575px) {
  #main .f-area .w-block .input-group {
    justify-content: center;
  }
}
#main .f-area .w-block .input-group input {
  font-size: 25px;
  line-height: 27px;
  color: #1b1464;
  border: 0;
  background: url(../images/icon01.png) no-repeat center left 20px;
  padding: 0 6rem;
  background-size: contain;
}
#main .f-area .w-block .input-group input::-moz-placeholder {
  color: #1b1464;
}
#main .f-area .w-block .input-group input::placeholder {
  color: #1b1464;
}
#main .f-area .w-block .input-group input:focus {
  box-shadow: none;
}
@media (max-width: 767px) {
  #main .f-area .w-block .input-group input {
    padding: 0 10px 0 6rem;
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 575px) {
  #main .f-area .w-block .input-group input {
    width: 100%;
    padding: 15px 10px 15px 3rem;
    margin: 0;
    font-size: 16px;
    background: url(../images/icon01.png) no-repeat center left 5px;
    background-size: 10%;
  }
}
#main .f-area .w-block .input-group .s-btn {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  border: 2px solid #ff007a;
  padding: 12px 30px;
  border-radius: 50px !important;
  text-transform: uppercase;
  background: #ff007a;
}
#main .f-area .link-bar {
  text-align: center;
}
#main .f-area .link-bar a {
  font-size: 24px;
  line-height: 26px;
  color: #ff007a;
  text-decoration: underline;
}
@media (max-width: 767px) {
  #main .f-area .link-bar a {
    font-size: 18px;
    line-height: 20px;
  }
}
#main .t-block {
  padding: 5rem 8rem 4rem;
}
@media (max-width: 1800px) {
  #main .t-block {
    padding: 4rem 4rem 3rem;
  }
}
@media (max-width: 1400px) {
  #main .t-block {
    padding: 4rem 2rem 3rem;
  }
}
@media (max-width: 767px) {
  #main .t-block {
    padding: 3rem 15px 3rem;
  }
}
#main .t-block .text-bar {
  padding: 0 0 0 7rem;
}
@media (max-width: 1500px) {
  #main .t-block .text-bar {
    padding: 0 0 0 3rem;
  }
}
@media (max-width: 992px) {
  #main .t-block .text-bar {
    padding: 0;
  }
}
#main .t-block .text-bar h3 {
  font-size: 20px;
  line-height: 22px;
  color: #ff007a;
  font-family: "FuturaBT-Book";
  margin: 0 0 15px;
}
#main .t-block .text-bar h2 {
  font-size: 60px;
  line-height: 65px;
  color: #1b1464;
  margin: 0 0 25px;
  font-weight: 600;
}
@media (max-width: 1400px) {
  #main .t-block .text-bar h2 {
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 15px;
  }
}
#main .t-block .text-bar p {
  font-size: 20px;
  line-height: 30px;
  color: #1b1464;
  margin: 0 0 15px;
  font-family: "FuturaBT-Book";
}
@media (max-width: 1400px) {
  #main .t-block .text-bar p {
    font-size: 18px;
    line-height: 25px;
  }
}
#main .t-block .text-bar .lm-btn {
  font-size: 18px;
  line-height: 20px;
  color: #1b1464;
  border: 2px solid #ff007a;
  padding: 12px 30px;
  border-radius: 50px;
  text-transform: uppercase;
  margin: 20px 0 0;
}
@media (max-width: 575px) {
  #main .t-block .b-img img {
    height: 60px;
  }
}
#main .s-block {
  padding: 2rem 2.5rem 7rem 8rem;
}
@media (max-width: 1800px) {
  #main .s-block {
    padding: 2rem 0 7rem 4rem;
  }
}
@media (max-width: 1500px) {
  #main .s-block {
    padding: 4rem 0 7rem 4rem;
  }
}
@media (max-width: 1400px) {
  #main .s-block {
    padding: 4rem 0 7rem 2rem;
  }
}
@media (max-width: 992px) {
  #main .s-block {
    padding: 2rem 2rem 7rem 2rem;
  }
}
@media (max-width: 767px) {
  #main .s-block {
    padding: 0 0 7rem;
  }
}
#main .s-block ul {
  display: flex;
  flex-wrap: wrap;
}
#main .s-block ul li {
  width: 25%;
}
@media (max-width: 992px) {
  #main .s-block ul li {
    width: 50%;
    padding: 0 10px 10px;
  }
}
@media (max-width: 575px) {
  #main .s-block ul li {
    width: 100%;
    padding: 0 5px 10px;
  }
}
#main .s-block ul li .box {
  background-color: rgb(27, 20, 100);
  box-shadow: 0px 8px 50px 0px rgba(13, 9, 60, 0.5);
  padding: 30px 35px;
  text-align: center;
  background-size: cover;
  border-radius: 40px 40px;
}
@media (max-width: 992px) {
  #main .s-block ul li .box {
    max-height: 300px;
    min-height: 300px;
  }
}
@media (max-width: 767px) {
  #main .s-block ul li .box {
    padding: 20px 20px;
  }
}
#main .s-block ul li .box h2 {
  font-size: 100px;
  line-height: 102px;
  color: #fff;
  margin: 0 0 15px;
}
@media (max-width: 1500px) {
  #main .s-block ul li .box h2 {
    font-size: 80px;
    line-height: 82px;
  }
}
#main .s-block ul li .box p {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin: 0 0 15px;
  font-family: "FuturaBT-Book";
}
@media (max-width: 1500px) {
  #main .s-block ul li .box p {
    font-size: 17px;
    line-height: 25px;
  }
}
#main .s-block ul li:nth-child(2) {
  position: relative;
  top: 40px;
  right: 30px;
}
@media (max-width: 1280px) {
  #main .s-block ul li:nth-child(2) {
    right: 15px;
  }
}
@media (max-width: 992px) {
  #main .s-block ul li:nth-child(2) {
    right: 0;
    top: 0;
  }
}
#main .s-block ul li:nth-child(3) {
  position: relative;
  right: 60px;
}
@media (max-width: 1280px) {
  #main .s-block ul li:nth-child(3) {
    right: 30px;
  }
}
@media (max-width: 992px) {
  #main .s-block ul li:nth-child(3) {
    right: 0;
  }
}
#main .s-block ul li:last-child {
  position: relative;
  top: 40px;
  right: 80px;
}
@media (max-width: 1280px) {
  #main .s-block ul li:last-child {
    right: 45px;
  }
}
@media (max-width: 992px) {
  #main .s-block ul li:last-child {
    right: 0;
    top: 0;
  }
}
#main .faq-area {
  padding: 16rem 8rem 10rem;
  background: url(../images/bg03.png) no-repeat top -40px center;
  margin: -15rem 0 0;
  background-size: cover;
}
@media (max-width: 1800px) {
  #main .faq-area {
    padding: 13rem 4rem 8rem;
  }
}
@media (max-width: 1400px) {
  #main .faq-area {
    padding: 13rem 2rem 8rem;
  }
}
@media (max-width: 767px) {
  #main .faq-area {
    padding: 10rem 0 8rem;
  }
}
#main .faq-area h3 {
  font-size: 20px;
  line-height: 22px;
  color: #ff007a;
  font-family: "FuturaBT-Book";
  margin: 0px 0 10px;
  text-align: center;
}
#main .faq-area h4 {
  font-size: 60px;
  line-height: 62px;
  color: #1b1464;
  margin: 0 0 50px;
  text-align: center;
  font-weight: 600;
}
@media (max-width: 1400px) {
  #main .faq-area h4 {
    font-size: 40px;
    line-height: 50px;
  }
}
#main .faq-area .accordion .accordion-item {
  margin: 0 0 40px;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1254901961);
  border: 0;
}
@media (max-width: 575px) {
  #main .faq-area .accordion .accordion-item {
    border-radius: 20px;
    margin: 0 0 20px;
  }
}
#main .faq-area .accordion .accordion-item h2 {
  margin: 0;
  border-radius: 40px;
}
#main .faq-area .accordion .accordion-item h2 button {
  border-radius: 40px;
  font-size: 22px;
  line-height: 24px;
  color: #1b1464;
  padding: 30px 35px;
  font-weight: 600;
}
@media (max-width: 1400px) {
  #main .faq-area .accordion .accordion-item h2 button {
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 575px) {
  #main .faq-area .accordion .accordion-item h2 button {
    font-size: 15px;
    line-height: 17px;
  }
}
@media (max-width: 767px) {
  #main .faq-area .accordion .accordion-item h2 button {
    padding: 20px 25px;
  }
}
@media (max-width: 575px) {
  #main .faq-area .accordion .accordion-item h2 button {
    padding: 15px 15px;
  }
}
#main .faq-area .accordion .accordion-item h2 button:after {
  background-image: url(../images/icon02.png);
}
#main .faq-area .accordion .accordion-item h2 button:focus {
  box-shadow: none;
}
#main .faq-area .accordion .accordion-item .accordion-body {
  padding: 0 35px 20px;
}
@media (max-width: 767px) {
  #main .faq-area .accordion .accordion-item .accordion-body {
    padding: 0 25px 20px;
  }
}
@media (max-width: 575px) {
  #main .faq-area .accordion .accordion-item .accordion-body {
    padding: 0 15px 15px;
  }
}
#main .faq-area .accordion .accordion-item .accordion-body p {
  font-size: 20px;
  line-height: 28px;
  color: #1b1464;
  font-family: "FuturaBT-Book";
}
#main .faq-area .accordion-button:not(.collapsed) {
  background-color: #fff;
  box-shadow: none;
  color: #1b1464;
}
#main .faq-area .r-btn {
  font-size: 18px;
  line-height: 20px;
  color: #1b1464;
  border: 2px solid #ff007a;
  padding: 12px 30px;
  border-radius: 50px;
  text-transform: uppercase;
  margin: 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  margin: 0 auto;
}
#main .tr-block {
  padding: 5rem 8rem;
}
@media (max-width: 1800px) {
  #main .tr-block {
    padding: 2rem 4rem 4rem;
  }
}
@media (max-width: 1400px) {
  #main .tr-block {
    padding: 2rem 2rem 4rem;
  }
}
@media (max-width: 767px) {
  #main .tr-block {
    padding: 2rem 10px 4rem;
  }
}
#main .tr-block .text-bar {
  padding: 0 7rem 0 0;
}
@media (max-width: 1500px) {
  #main .tr-block .text-bar {
    padding: 0 3rem 0 0;
  }
}
@media (max-width: 575px) {
  #main .tr-block .text-bar {
    padding: 1rem 0 0;
  }
}
#main .tr-block .text-bar h3 {
  font-size: 20px;
  line-height: 22px;
  color: #ff007a;
  font-family: "FuturaBT-Book";
  margin: 0 0 15px;
}
#main .tr-block .text-bar h2 {
  font-size: 60px;
  line-height: 65px;
  color: #1b1464;
  margin: 0 0 25px;
  font-weight: 600;
}
@media (max-width: 1400px) {
  #main .tr-block .text-bar h2 {
    font-size: 40px;
    line-height: 50px;
  }
}
#main .tr-block .text-bar p {
  font-size: 20px;
  line-height: 30px;
  color: #1b1464;
  margin: 0 0 15px;
  font-family: "FuturaBT-Book";
}
@media (max-width: 1400px) {
  #main .tr-block .text-bar p {
    font-size: 18px;
    line-height: 25px;
  }
}
#main .tr-block .text-bar .lm-btn {
  font-size: 18px;
  line-height: 20px;
  color: #1b1464;
  border: 2px solid #ff007a;
  padding: 12px 30px;
  border-radius: 50px;
  text-transform: uppercase;
  margin: 20px 0 0;
}
#main .art-area {
  padding: 0 8rem 4rem;
}
@media (max-width: 1800px) {
  #main .art-area {
    padding: 0 4rem 4rem;
  }
}
@media (max-width: 1400px) {
  #main .art-area {
    padding: 0 2rem 4rem;
  }
}
@media (max-width: 767px) {
  #main .art-area {
    padding: 0 10px 4rem;
  }
}
#main .art-area h3 {
  font-size: 20px;
  line-height: 22px;
  color: #ff007a;
  font-family: "FuturaBT-Book";
  margin: 0 0 15px;
  text-align: center;
}
#main .art-area h2 {
  font-size: 60px;
  line-height: 65px;
  color: #1b1464;
  margin: 0 0 20px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 1400px) {
  #main .art-area h2 {
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 15px;
  }
}
#main .art-area p {
  font-size: 20px;
  line-height: 22px;
  color: #1b1464;
  font-family: "FuturaBT-Book";
  margin: 0 0 25px;
  text-align: center;
}
#main .art-area .box {
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 20px 0px rgba(13, 9, 60, 0.15);
  padding: 15px 15px;
}
@media (max-width: 992px) {
  #main .art-area .box {
    border-radius: 20px;
    margin: 0 0 20px;
  }
}
#main .art-area .box .img-hold {
  margin: 0 0 30px;
}
@media (max-width: 767px) {
  #main .art-area .box .img-hold img {
    width: 100%;
  }
}
#main .art-area .box .text-area {
  padding: 0 10px 20px;
}
#main .art-area .box .text-area h2 {
  font-size: 30px;
  line-height: 34px;
  color: #1b1464;
  margin: 0 0 15px;
  font-weight: 500;
  text-align: left;
}
@media (max-width: 1500px) {
  #main .art-area .box .text-area h2 {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (max-width: 1400px) {
  #main .art-area .box .text-area h2 {
    font-size: 20px;
    line-height: 25px;
  }
}
#main .art-area .box .text-area p {
  text-align: left;
  font-size: 20px;
  line-height: 28px;
  color: #1b1464;
  font-family: "FuturaBT-Book";
  margin: 0 0 10px;
  min-height: 115px;
  max-height: 115px;
}
@media (max-width: 1500px) {
  #main .art-area .box .text-area p {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (max-width: 1400px) {
  #main .art-area .box .text-area p {
    font-size: 18px;
    line-height: 22px;
  }
}
#main .art-area .box .text-area a {
  font-size: 18px;
  line-height: 20px;
  color: #ff007a;
  text-align: left;
  text-decoration: underline;
  font-family: "Futura-Bold";
}
#main .art-area .r-btn {
  font-size: 18px;
  line-height: 20px;
  color: #1b1464;
  border: 2px solid #ff007a;
  padding: 12px 30px;
  border-radius: 50px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin: 0 auto 4rem;
}
@media (max-width: 575px) {
  #main .art-area .r-btn {
    margin: 0 auto 2rem;
  }
}
@media (max-width: 575px) {
  #main .art-area .b-img img {
    height: 60px;
  }
}

#header {
  transition: all 0.1s ease;
}
#header .navbar-nav .nav-item .nav-link {
  font-family: "FuturaBT-Book";
  font-size: 20px;
  line-height: 22px;
  color: #fff;
  padding: 0.5rem 1.5rem;
}
@media (max-width: 1700px) {
  #header .navbar-nav .nav-item .nav-link {
    padding: 0.5rem 1rem;
  }
}
@media (max-width: 1600px) {
  #header .navbar-nav .nav-item .nav-link {
    padding: 0.5rem 0.7rem;
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 1280px) {
  #header .navbar-nav .nav-item .nav-link {
    padding: 0.5rem 0.5rem;
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 1200px) {
  #header .navbar-nav .nav-item .nav-link {
    padding: 15px 0 !important;
    border-bottom: 1px solid #000;
    color: #1b1464;
  }
}
#header .btn-bar {
  margin: 0 0 0 20px;
}
@media (max-width: 1200px) {
  #header .btn-bar {
    margin: 0;
    padding: 15px 0;
  }
}
#header .btn-bar ul {
  display: flex;
  align-items: center;
}
#header .btn-bar ul li {
  margin: 0 20px 0 0;
}
#header .btn-bar ul li .l-btn {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  border: 2px solid #ff007a;
  padding: 12px 30px;
  border-radius: 50px;
  text-transform: uppercase;
}
@media (max-width: 1400px) {
  #header .btn-bar ul li .l-btn {
    font-size: 16px;
    line-height: 18px;
    padding: 10px 20px;
  }
}
@media (max-width: 1200px) {
  #header .btn-bar ul li .l-btn {
    color: #1b1464;
  }
}
#header .btn-bar ul li .r-btn {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  border: 2px solid #ff007a;
  padding: 12px 30px;
  border-radius: 50px;
  text-transform: uppercase;
  background: #ff007a;
}
@media (max-width: 1400px) {
  #header .btn-bar ul li .r-btn {
    font-size: 16px;
    line-height: 18px;
    padding: 10px 20px;
  }
}
#header .btn-bar ul li:last-child {
  margin: 0;
}
#header .navbar-toggler {
  padding: 0;
}
#header .navbar-toggler:focus {
  box-shadow: none;
}
#header .navbar-toggler #navicon {
  position: relative;
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 5px;
}
#header .navbar-toggler #navicon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  margin: 0 auto;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  right: 0;
}
@media (max-width: 510px) {
  #header .navbar-toggler #navicon span {
    background: #1b1464;
  }
}
#header .navbar-toggler #navicon span:first-child {
  top: 9px;
}
#header .navbar-toggler #navicon span:last-child {
  top: 21px;
  width: 65%;
}
#header .navbar-toggler #navicon span:nth-child(2) {
  top: 15px;
}
@media (max-width: 992px) {
  #header .navbar-toggler #navicon.open span {
    background: #1b1464;
  }
}
#header .navbar-toggler #navicon.open span:first-child {
  transform: rotate(135deg);
  top: 15px;
}
#header .navbar-toggler #navicon.open span:last-child {
  transform: rotate(-135deg);
  top: 15px;
  width: 100%;
}
#header .navbar-toggler #navicon.open span:nth-child(2) {
  opacity: 0;
}
@media (max-width: 1200px) {
  #header .navbar-collapse {
    background: #f2f1f6;
    padding: 15px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1450980392);
    margin: 15px 0 10px;
    border-radius: 10px;
  }
}
@media (max-width: 1200px) and (max-width: 767px) {
  #header .navbar-collapse {
    padding: 0 15px 15px;
  }
}
@media (max-width: 575px) {
  #header .navbar-brand img {
    width: 200px;
  }
}
#header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  animation: smoothScroll 1s forwards;
  background: #fff;
  right: 0;
  width: 100%;
  padding: 1px 15px;
  z-index: 9;
}
@media (max-width: 1200px) {
  #header.fixed {
    padding: 0px 15px 15px;
  }
}
#header.fixed .navbar-nav .nav-item .nav-link {
  font-family: "FuturaBT-Book";
  font-size: 20px;
  line-height: 22px;
  color: #1b1464;
  padding: 0.5rem 1.5rem;
}
@media (max-width: 1700px) {
  #header.fixed .navbar-nav .nav-item .nav-link {
    padding: 0.5rem 1rem;
  }
}
@media (max-width: 1600px) {
  #header.fixed .navbar-nav .nav-item .nav-link {
    padding: 0.5rem 0.7rem;
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 1280px) {
  #header.fixed .navbar-nav .nav-item .nav-link {
    padding: 0.5rem 0.5rem;
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 1200px) {
  #header.fixed .navbar-nav .nav-item .nav-link {
    padding: 15px 0 !important;
    border-bottom: 1px solid #000;
    color: #1b1464;
  }
}
#header.fixed .l-btn {
  color: #1b1464 !important;
}
#header.fixed #navicon span {
  background: #1b1464;
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

#footer {
  background: url(../images/bg02.png) no-repeat top center;
}
#footer .f-top {
  padding: 6rem 8rem 3rem;
  border-bottom: 1px solid #494383;
}
@media (max-width: 1800px) {
  #footer .f-top {
    padding: 6rem 4rem 3rem;
  }
}
@media (max-width: 1400px) {
  #footer .f-top {
    padding: 6rem 2rem 3rem;
  }
}
@media (max-width: 575px) {
  #footer .f-top {
    padding: 4rem 15px 2rem;
  }
}
#footer .f-top .f-log {
  text-align: center;
  margin: 0 0 30px;
}
@media (max-width: 575px) {
  #footer .f-top .f-log img {
    width: 300px;
  }
}
#footer .f-top .s-link {
  margin: 0 0 30px;
}
#footer .f-top .s-link ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer .f-top .s-link ul li {
  margin: 0 15px 0 0;
}
#footer .f-top .s-link ul li a {
  color: #fff;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border: 1px solid #494383;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer .f-top .s-link ul li a:hover {
  background: #ff007a;
}
#footer .f-top .s-link ul li:last-child {
  margin: 0;
}
#footer .f-top .p-link ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 575px) {
  #footer .f-top .p-link ul {
    flex-wrap: wrap;
  }
}
#footer .f-top .p-link ul li {
  margin: 0 40px 0 0;
}
@media (max-width: 767px) {
  #footer .f-top .p-link ul li {
    margin: 0 20px 0 0;
  }
}
@media (max-width: 575px) {
  #footer .f-top .p-link ul li {
    margin: 0;
    width: 33.33%;
    text-align: center;
  }
}
#footer .f-top .p-link ul li a {
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  font-family: "FuturaBT-Book";
  text-transform: uppercase;
}
@media (max-width: 1400px) {
  #footer .f-top .p-link ul li a {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 1150px) {
  #footer .f-top .p-link ul li a {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 767px) {
  #footer .f-top .p-link ul li a {
    font-size: 15px;
    line-height: 17px;
  }
}
@media (max-width: 575px) {
  #footer .f-top .p-link ul li a {
    font-size: 13px;
  }
}
#footer .f-top .p-link ul li:last-child {
  margin: 0;
}
#footer .b-area {
  padding: 2rem 8rem;
}
@media (max-width: 1800px) {
  #footer .b-area {
    padding: 2rem 4rem;
  }
}
@media (max-width: 1400px) {
  #footer .b-area {
    padding: 2rem 2rem;
  }
}
@media (max-width: 575px) {
  #footer .b-area {
    padding: 1rem 15px;
  }
}
#footer .b-area p {
  font-size: 20px;
  line-height: 22px;
  color: #fff;
  font-family: "FuturaBT-Book";
}
@media (max-width: 1400px) {
  #footer .b-area p {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 1150px) {
  #footer .b-area p {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 992px) {
  #footer .b-area p {
    margin: 0 0 15px;
    text-align: center;
  }
}
#footer .b-area ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 992px) {
  #footer .b-area ul {
    justify-content: center;
  }
}
#footer .b-area ul li {
  margin: 0 20px 0 0;
}
@media (max-width: 1400px) {
  #footer .b-area ul li {
    margin: 0 20px 0 0;
  }
}
#footer .b-area ul li a {
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  font-family: "FuturaBT-Book";
}
@media (max-width: 1400px) {
  #footer .b-area ul li a {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 1150px) {
  #footer .b-area ul li a {
    font-size: 14px;
    line-height: 18px;
  }
}
#footer .b-area ul li:last-child {
  margin: 0;
}/*# sourceMappingURL=main.css.map */