.top-area {
    background: url(../images/bg01.png) no-repeat top center;
    padding: 15px 8rem 18rem;
    background-size: 100%;
    @include max(1850px) {
        padding: 15px 8rem 15rem;
    }
    @include max(1800px) {
        padding: 15px 4rem 12rem;
    }
    @include max(1600px) {
        padding: 15px 4rem 9rem;
    }
    @include max(1400px) {
        padding: 15px 2rem 10rem;
    }
    @include max(1200px) {
        background-size: cover;
    }
    @include max(992px) {
        background: url(../images/bg01.png) no-repeat left  center;
        background-size: cover;
    }
    @include max(767px) {
        padding: 0 15px 8rem;
        background: url(../images/bg01.png) no-repeat left center;
        background-size: cover;
    }
    .banner-text {
        padding: 8rem 0 0;
        @include max(1500px) {
            padding: 3rem 0 0;
        }
        @include max(1150px) {
            padding: 1rem 0 0;
        }
        h3 {
            font-size: 20px;
            line-height: 22px;
            color: #ff007a;
            font-family: 'FuturaBT-Book';
            margin: 0 0 15px;
        }
        h1 {
            font-size: 70px;
            line-height: 85px;
            color: #1b1464;
            margin: 0 0 20px;
            font-weight: 600;
            @include max(1700px) {
                font-size: 50px;
                line-height: 65px;
            }
            @include max(1400px) {
                font-size: 40px;
                line-height: 50px;
            }
            @include max(1150px) {
                font-size: 35px;
                line-height: 40px;
            }
        }
        p {
            font-size: 20px;
            line-height: 35px;
            color: #1b1464;
            margin: 0 0 20px;
            font-family: 'FuturaBT-Book';
            @include max(1400px) {
                font-size: 18px;
                line-height: 30px;
            }
        }
        .form-block {
            padding: 0 3rem 0 0;
            @include max(992px) {
                padding: 0;
            }
            @include max(575px) {
                padding: 0;
            }
            .input-group {
                @include max(575px) {
                    justify-content: center;
                }
                .form-select {
                    box-shadow: 0 0 10px #00000025;
                    margin: 0 15px 0 0;
                    padding: 20px 25px;
                    border-radius: 50px 50px;
                    font-size: 18px;
                    line-height: 20px;
                    color: #1b1464;
                    background-position: right 1.5rem center;
                    @include max(575px) {
                        width: 100%;
                        margin: 0 0 10px;
                    }
                }
                .s-btn {
                    font-size: 18px;
                    line-height: 20px;
                    color: #fff;
                    border: 2px solid #ff007a;
                    padding: 12px 30px;
                    border-radius: 50px !important;
                    text-transform: uppercase;
                    background: #ff007a;
                }
            }
        }
    }
}

#main {
    .f-area {
        padding: 0 8rem;
        margin: -5rem 0 0;
        @include max(1800px) {
            padding: 0 4rem;
        }
        @include max(1400px) {
            padding: 0 2rem;
        }
        @include max(767px) {
            padding: 0 15px;
        }
        .w-block {
            padding: 20px 25px;
            background: #fff;
            box-shadow: 0 0 10px #00000025;
            border-radius: 50px 50px;
            margin: 0 0 30px;
            @include max(575px) {
                padding: 10px 15px;
                border-radius: 25px 25px;
            }
            .input-group {
                @include max(575px) {
                    justify-content: center;
                }
                input {
                    font-size: 25px;
                    line-height: 27px;
                    color: #1b1464;
                    border: 0;
                    background: url(../images/icon01.png) no-repeat center left 20px;
                    padding: 0 6rem;
                    background-size: contain;
                    &::placeholder {
                        color: #1b1464;
                    }
                    &:focus {
                        box-shadow: none;
                    }
                    @include max(767px) {
                        padding: 0 10px 0 6rem;
                        font-size: 18px;
                        line-height: 20px;
                    }
                    @include max(575px) {
                        width: 100%;
                        padding: 15px 10px 15px 3rem;
                        margin: 0;
                        font-size: 16px;
                        background: url(../images/icon01.png) no-repeat center left 5px;
                        background-size: 10%;
                    }
                }
                .s-btn {
                    font-size: 18px;
                    line-height: 20px;
                    color: #fff;
                    border: 2px solid #ff007a;
                    padding: 12px 30px;
                    border-radius: 50px !important;
                    text-transform: uppercase;
                    background: #ff007a;
                }
            }
        }
        .link-bar {
            text-align: center;
            a {
                font-size: 24px;
                line-height: 26px;
                color: #ff007a;
                text-decoration: underline;
                @include max(767px) {
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }
    }
    .t-block {
        padding: 5rem 8rem 4rem;
        @include max(1800px) {
            padding: 4rem 4rem 3rem;
        }
        @include max(1400px) {
            padding: 4rem 2rem 3rem;
        }
        @include max(767px) {
            padding: 3rem 15px 3rem;
        }
        .text-bar {
            padding: 0 0 0 7rem;
            @include max(1500px) {
                padding: 0 0 0 3rem;
            }
            @include max(992px) {
                padding: 0;
            }
            h3 {
                font-size: 20px;
                line-height: 22px;
                color: #ff007a;
                font-family: 'FuturaBT-Book';
                margin: 0 0 15px;
            }
            h2 {
                font-size: 60px;
                line-height: 65px;
                color: #1b1464;
                margin: 0 0 25px;
                font-weight: 600;
                @include max(1400px) {
                    font-size: 40px;
                    line-height: 50px;
                    margin: 0 0 15px;
                }
            }
            p {
                font-size: 20px;
                line-height: 30px;
                color: #1b1464;
                margin: 0 0 15px;
                font-family: 'FuturaBT-Book';
                @include max(1400px) {
                    font-size: 18px;
                    line-height: 25px;
                }
            }
            .lm-btn {
                font-size: 18px;
                line-height: 20px;
                color: #1b1464;
                border: 2px solid #ff007a;
                padding: 12px 30px;
                border-radius: 50px;
                text-transform: uppercase;
                margin: 20px 0 0;
            }
        }
        @include max(575px) {
            .b-img {
                img {
                    height: 60px;
                }
            }
        }
    }
    .s-block {
        padding: 2rem 2.5rem 7rem 8rem;
        @include max(1800px) {
            padding: 2rem 0 7rem 4rem;
        }
        @include max(1500px) {
            padding: 4rem 0 7rem 4rem;
        }
        @include max(1400px) {
            padding: 4rem 0 7rem 2rem;
        }
        @include max(992px) {
            padding: 2rem 2rem 7rem 2rem;
        }
        @include max(767px) {
            padding: 0 0 7rem;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            li {
                width: 25%;
                @include max(992px) {
                    width: 50%;
                    padding: 0 10px 10px;
                }
                @include max(575px) {
                    width: 100%;
                    padding: 0 5px 10px;
                }
                .box {
                    background-color: rgb(27, 20, 100);
                    box-shadow: 0px 8px 50px 0px rgba(13, 9, 60, 0.5);
                    padding: 30px 35px;
                    text-align: center;
                    background-size: cover;
                    border-radius: 40px 40px;
                    @include max(992px) {
                        max-height: 300px;
                        min-height: 300px;
                    }
                    @include max(767px) {
                        padding: 20px 20px;
                    }
                    h2 {
                        font-size: 100px;
                        line-height: 102px;
                        color: #fff;
                        margin: 0 0 15px;
                        @include max(1500px) {
                            font-size: 80px;
                            line-height: 82px;
                        }
                    }
                    p {
                        font-size: 20px;
                        line-height: 30px;
                        color: #fff;
                        margin: 0 0 15px;
                        font-family: 'FuturaBT-Book';
                        @include max(1500px) {
                            font-size: 17px;
                            line-height: 25px;
                        }
                    }
                }
                &:nth-child(2) {
                    position: relative;
                    top: 40px;
                    right: 30px;
                    @include max(1280px) {
                        right: 15px;
                    }
                    @include max(992px) {
                        right: 0;
                        top: 0;
                    }
                }
                &:nth-child(3) {
                    position: relative;
                    right: 60px;
                    @include max(1280px) {
                        right: 30px;
                    }
                    @include max(992px) {
                        right: 0;
                    }
                }
                &:last-child {
                    position: relative;
                    top: 40px;
                    right: 80px;
                    @include max(1280px) {
                        right: 45px;
                    }
                    @include max(992px) {
                        right: 0;
                        top: 0;
                    }
                }
            }
        }
    }
    .faq-area {
        padding: 16rem 8rem 10rem;
        background: url(../images/bg03.png) no-repeat top -40px center;
        margin: -15rem 0 0;
        background-size: cover;
        @include max(1800px) {
            padding: 13rem 4rem 8rem;
        }
        @include max(1400px) {
            padding: 13rem 2rem 8rem;
        }
        @include max(767px) {
            padding: 10rem 0 8rem;
        }
        h3 {
            font-size: 20px;
            line-height: 22px;
            color: #ff007a;
            font-family: 'FuturaBT-Book';
            margin: 0px 0 10px;
            text-align: center;
        }
        h4 {
            font-size: 60px;
            line-height: 62px;
            color: #1b1464;
            margin: 0 0 50px;
            text-align: center;
            font-weight: 600;
            @include max(1400px) {
                font-size: 40px;
                line-height: 50px;
            }
        }
        .accordion {
            .accordion-item {
                margin: 0 0 40px;
                border-radius: 40px;
                background-color: rgb(255, 255, 255);
                box-shadow: 0 0 10px #00000020;
                border: 0;
                @include max(575px) {
                    border-radius: 20px;
                    margin: 0 0 20px;
                }
                h2 {
                    margin: 0;
                    border-radius: 40px;
                    button {
                        border-radius: 40px;
                        font-size: 22px;
                        line-height: 24px;
                        color: #1b1464;
                        padding: 30px 35px;
                        font-weight: 600;
                        @include max(1400px) {
                            font-size: 18px;
                            line-height: 20px;
                        }
                        @include max(575px) {
                            font-size: 15px;
                            line-height: 17px;
                        }
                        @include max(767px) {
                            padding: 20px 25px;
                        }
                        @include max(575px) {
                            padding: 15px 15px;
                        }
                        &:after {
                            background-image: url(../images/icon02.png);
                        }
                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
                .accordion-body {
                    padding: 0 35px 20px;
                    @include max(767px) {
                        padding: 0 25px 20px;
                    }
                    @include max(575px) {
                        padding: 0 15px 15px;
                    }
                    p {
                        font-size: 20px;
                        line-height: 28px;
                        color: #1b1464;
                        font-family: 'FuturaBT-Book';
                    }
                }
            }
        }
        .accordion-button:not(.collapsed) {
            background-color: #fff;
            box-shadow: none;
            color: #1b1464;
        }
        .r-btn {
            font-size: 18px;
            line-height: 20px;
            color: #1b1464;
            border: 2px solid #ff007a;
            padding: 12px 30px;
            border-radius: 50px;
            text-transform: uppercase;
            margin: 20px 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 180px;
            margin: 0 auto;
        }
    }
    .tr-block {
        padding: 5rem 8rem;
        @include max(1800px) {
            padding: 2rem 4rem 4rem;
        }
        @include max(1400px) {
            padding: 2rem 2rem 4rem;
        }
        @include max(767px) {
            padding: 2rem 10px 4rem;
        }
        .text-bar {
            padding: 0 7rem 0 0;
            @include max(1500px) {
                padding: 0 3rem 0 0;
            }
            @include max(575px) {
                padding: 1rem 0 0;
            }
            h3 {
                font-size: 20px;
                line-height: 22px;
                color: #ff007a;
                font-family: 'FuturaBT-Book';
                margin: 0 0 15px;
            }
            h2 {
                font-size: 60px;
                line-height: 65px;
                color: #1b1464;
                margin: 0 0 25px;
                font-weight: 600;
                @include max(1400px) {
                    font-size: 40px;
                    line-height: 50px;
                }
            }
            p {
                font-size: 20px;
                line-height: 30px;
                color: #1b1464;
                margin: 0 0 15px;
                font-family: 'FuturaBT-Book';
                @include max(1400px) {
                    font-size: 18px;
                    line-height: 25px;
                }
            }
            .lm-btn {
                font-size: 18px;
                line-height: 20px;
                color: #1b1464;
                border: 2px solid #ff007a;
                padding: 12px 30px;
                border-radius: 50px;
                text-transform: uppercase;
                margin: 20px 0 0;
            }
        }
    }
    .art-area {
        padding: 0 8rem 4rem;
        @include max(1800px) {
            padding: 0 4rem 4rem;
        }
        @include max(1400px) {
            padding: 0 2rem 4rem;
        }
        @include max(767px) {
            padding: 0 10px 4rem;
        }
        h3 {
            font-size: 20px;
            line-height: 22px;
            color: #ff007a;
            font-family: 'FuturaBT-Book';
            margin: 0 0 15px; 
            text-align: center;
        }
        h2 {
            font-size: 60px;
            line-height: 65px;
            color: #1b1464;
            margin: 0 0 20px;
            font-weight: 600;
            text-align: center;
            @include max(1400px) {
                font-size: 40px;
                line-height: 50px;
                margin: 0 0 15px;
            }
        }
        p {
            font-size: 20px;
            line-height: 22px;
            color: #1b1464;
            font-family: 'FuturaBT-Book';
            margin: 0 0 25px; 
            text-align: center;
        }
        .box {
            border-radius: 40px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 8px 20px 0px rgba(13, 9, 60, 0.15);
            padding: 15px 15px;
            @include max(992px) {
                border-radius: 20px;
                margin: 0 0 20px;
            }
            .img-hold {
                margin: 0 0 30px;
                @include max(767px) {
                    img {
                        width: 100%;
                    }
                }
            }
            .text-area {
                padding: 0 10px 20px;
                h2 {
                    font-size: 30px;
                    line-height: 34px;
                    color: #1b1464;
                    margin: 0 0 15px;
                    font-weight: 500;
                    text-align: left;
                    @include max(1500px) {
                        font-size: 25px;
                        line-height: 30px;
                    }
                    @include max(1400px) {
                        font-size: 20px;
                        line-height: 25px;
                    }
                }
                p {
                    text-align: left;
                    font-size: 20px;
                    line-height: 28px;
                    color: #1b1464;
                    font-family: 'FuturaBT-Book';
                    margin: 0 0 10px;
                    min-height: 115px;
                    max-height: 115px;
                    @include max(1500px) {
                        font-size: 18px;
                        line-height: 25px;
                    }
                    @include max(1400px) {
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
                a {
                    font-size: 18px;
                    line-height: 20px;
                    color: #ff007a;
                    text-align: left;
                    text-decoration: underline;
                    font-family: 'Futura-Bold';
                }
            }
        }
        .r-btn {
            font-size: 18px;
            line-height: 20px;
            color: #1b1464;
            border: 2px solid #ff007a;
            padding: 12px 30px;
            border-radius: 50px;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            margin: 0 auto 4rem;
            @include max(575px) {
                margin: 0 auto 2rem;
            }
        }
        @include max(575px) {
            .b-img {
                img {
                    height: 60px;
                }
            }
        }
    }
}